<% if notice.present? %>
    <%= javascript_tag do %>
        Materialize.toast('<%= notice %>', 4000, 'alert-toast');
    <% end %>
<% end %>

<div class="modal-form-container">
	<%= link_to image_tag("logotipo-veloexpress.svg"), root_path, class: "main-anchor" %>
	<div class="form-title">
		<% if (resource.class == Sender) %>
			<h4><i class="mdi-action-wallet-travel"></i> Ingreso empresas</h4> 
		<% elsif (resource.class == Admin) %>
			<h4><i class="mdi-action-wallet-travel"></i> Ingreso administración</h4> 
		<% end  %>
	</div>

	<div class="row-content">
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			
			<div class="email">
				<%= f.email_field :email, autofocus: true, placeholder:"Ingresa tu correo" %>
			</div>

			<div class="pass">
				<%= f.password_field :password, autocomplete: "off", placeholder:"Ingresa tu contraseña" %>
			</div>

			<div class="remember-me">
				<% if devise_mapping.rememberable? -%>
				<%= f.check_box :remember_me, :class => "filled-in"%>
				<%= f.label :remember_me , "Recuérdame" %>
				<% end -%>
			</div>

			<div class="actions">
				<button class="btn waves-effect waves-light" type="submit" name="action">ingresar<i class="mdi-navigation-arrow-forward right"></i></button>
			</div>
		<% end %>

		<div class="col s12">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>