<div id="Infogram">
  <div class="infogram_inner">
    <div class="callout">
    <h2>Hola <%= @user.first_name+" "+@user.last_name %></h2>
    </div>

    <div class="data-board">
      <ul>
        <li>
          <%= @deliveries.length %>
          <span>Cantidad de envíos mes:</span>
        </li>
        <li>
          <%= @total_envios %>
          <span>Cantidad de envíos histórico:</span>
        </li>
        <li>
          <%= @total_comission %>
          <span>Total Comisión:</span> 
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="infotable">

    <ul class="infotable-nav" id="imageGallery">
      <li><a class='' href="admin_deliveries_path()" data-beloworigin="true" href='#' data-activates='dropdown1'>Todos</a></li>
    <li><%= link_to "Nuevo Envio" %> </li>
      <li><%= link_to "REVISAR", "#", class: "btn verde" %></li>
    <li><%= link_to "RESEÑAS", "#", class: "btn verde" %></li>
    <li><%= link_to "FAQ", "#", class: "btn verde" %></li>
    </ul>

  <div class="infotable-inner">
    <div class="callout">
        <h4>Detalle de Envios</h4>
    </div>

    <div class="infotable-filters">
        <%= select("user_delivery", "month", month_options, {include_blank: "Todos los meses", selected: @month}, :onchange => 'filter();') %>
        <%= select("user_delivery", "year", anos_options, {include_blank: "Todos los años", selected: @year}, :onchange => 'filter();') %>
    </div>
  </div>

  <table>
   <thead>
     <tr>
       <th>Remitente</th>
       <th>Address inicio</th>
       <th>Address entrega</th>
       <th>Destinatario</th>
       <th>Kms</th>
       <th>Fecha</th>
       <th>Comision</th>
     </tr>
   </thead>

   <tbody>
   <% @deliveries.each do |delivery| %>
       <tr>
         <td><%= delivery.sender.business_name %></td>  
         <td><%= delivery.address_start %>, <%= delivery.comuna_start %></td>
         <td><%= delivery.address_finish %>, <%= delivery.comuna_finish %></td>
         <td><%= delivery.destinatary_name %></td>
         <td><%= delivery.km %></td>
         <td><%= delivery.created_at.strftime("%d/%m/%Y") %></td>
         <td>$<%= delivery.comission %></td>
       </tr>
   <% end %>
   </tbody>
  </table>
</div>

<script>
    var filter = function(){
        console.log($('#user_delivery_month').val());
        console.log($('#user_delivery_year').val());
        var query = updateQueryStringParameter(window.location.href, 'month', $('#user_delivery_month').val());
        query = updateQueryStringParameter(query, 'year', $('#user_delivery_year').val());
        window.open(query , "_self");
    }

    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }
</script>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<%= form_for [:admin, @user], :html => {:multipart => true, :class => 'col s12 classic-form'} do |f| %>
    <h5>Datos personales</h5>


    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-communication-email prefix"></i>
        <%= f.email_field :email, placeholder: 'Ingresa el correo', readonly: true %>
        <%= f.label :email, 'Correo', :class => 'active' %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-communication-email prefix"></i>
        <%= f.text_field :rut, placeholder: 'Ingresa el RUT', readonly: true  %>
        <%= f.label :rut, 'RUT', :class => 'active' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-social-person prefix"></i>
        <%= f.text_field :first_name, placeholder: 'Ingresa el nombre', readonly: true  %>
        <%= f.label :first_name, 'Nombre', :class => 'active' %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-social-person prefix"></i>
        <%= f.text_field :last_name, placeholder: 'Ingresa el apellido', readonly: true  %>
        <%= f.label :last_name, 'Apellido', :class => 'active' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-social-person prefix"></i>
        <%= f.text_field :address, placeholder: 'Ingresa la dirección', readonly: true  %>
        <%= f.label :address, 'Dirección', :class => 'active' %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-social-person prefix"></i>
        <%= f.text_field :phone, placeholder: 'Ingresa el teléfono', readonly: true  %>
        <%= f.label :phone, 'Teléfono', :class => 'active' %>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <%= select("user", "occupation_id", Occupation.all.collect {|p| [ p.name, p.id ] }, {include_blank: "Seleccione Ocupación"}, disabled: true ) %>
      </div>
      <div class="input-field col s6">
        <i class="mdi-social-person prefix"></i>
        <%= f.text_field :occupation_detail, placeholder: 'Detalle de ocupación', readonly: true  %>
        <%= f.label :occupation_detail, 'Detalle de ocupación', :class => 'active' %>
      </div>
    </div>

    <h5>Datos bancarios</h5>
    <div class="row">
      <div class="input-field col s6">
        <%= select("user", "bank_id", Bank.all.collect {|p| [ p.name, p.id ] }, {include_blank: "Seleccione Banco"}, disabled: true) %>
      </div>
      <div class="input-field col s6">
        <%= select("user", "account_type_id", AccountType.all.collect {|p| [ p.name, p.id ] }, {include_blank: "Seleccione Tipo de Cuenta"},disabled: true) %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="mdi-action-https  prefix"></i>
        <%= f.text_field :account_number, placeholder: 'Ingresa el número de cuenta'  , readonly: true  %>
        <%= f.label :account_number, 'Número de cuenta', :class=>'active' %>
      </div>
    </div>

    <div class="row actions">
      <div class="col s6 right-align">
        <%= link_to :back, :class => 'waves-effect waves-light btn' do %>
            <i class="mdi-navigation-arrow-back"></i> Volver
        <% end %>
      </div>

      <div class="col s6">
        <%= link_to edit_admin_user_path(@user), :class => 'btn waves-effect waves-light' do %>
            <i class="mdi-content-send right"></i> Editar
        <% end %>
      </div>
    </div>
<% end %>

