<html>
<head>
  <title>Velo Express Admin Entregas</title>
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/admin/slicknav.css" />
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/assets/admin/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/admin/slick-theme.css"/>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/slick.min.js', 'data-turbolinks-track' => true %>

   <%= csrf_meta_tags %>
</head>

<body>

<%= render 'layouts/nav' %>

<% if notice.present? %>
    <%= javascript_tag do %>
        Materialize.toast('<%= notice %>', 4000, 'alert-toast');
    <% end %>
<% end %>

<script>
  $(function(){
    $('#menu').slicknav();
  });
</script>

<!-- Page Layout here -->

  <%= yield %>


<footer>
    <div>
      <h3 class="white-text">Enlaces relacionados</h3>
      <ul>
        <% if admin_signed_in? %>
            <li>
              <%= link_to  admin_users_path, :class => "grey-text text-lighten-3" do %>
                  <i class="mdi-action-account-child left"></i> Usuarios
              <% end %>
            </li>
            <li>
              <%= link_to admin_senders_path, :class => "grey-text text-lighten-3" do  %>
                  <i class="mdi-action-wallet-travel left"></i> Empresas
              <% end %>
            </li>
            <li>
              <%= link_to admin_available_areas_path, :class => "grey-text text-lighten-3" do %>
                  <i class="mdi-maps-pin-drop left"></i> Comunas
              <% end %>
            </li>
            <li>
              <%= link_to admin_pricings_path, :class => "grey-text text-lighten-3" do %>
                  <i class="mdi-maps-pin-drop left"></i> Precios
              <% end %>
            </li>
            <li>
              <%= link_to admin_deliveries_path, :class => "grey-text text-lighten-3" do %>
                  <i class="mdi-maps-directions-bike left"></i> Entregas
              <% end %>
            </li>
        <% elsif sender_signed_in? %>
            <li>
              <a class="grey-text text-lighten-3" href="/sender/deliveries">
                <i class="mdi-maps-directions-bike left"></i> Entregas
              </a>
            </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3 class="white-text">Links</h3>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Preguntas frecuentes</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Términos y condiciones</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
      </ul>
    </div>
  
  <div class="copyrights">
    <p>© 2015 Veloexpress</p>
    <a class="grey-text text-lighten-4 right" href="http://vernebikes.cl">Developed by Junior ranked Hackers!</a>
  </div>
</footer>

 




<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<%= javascript_include_tag 'jquery.slicknav.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'slick.min.js', 'data-turbolinks-track' => true %>


<script>
  $(document).ready(function(){
    $('.slider').slick({
      dots: true
    });
  });
</script>
</body>
</html>
