<!DOCTYPE html>
<html>
<head>
  <title>Velo Express</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="green darken-2">


	<div class="row logo">
		<div class="center-align center">
			<%= image_tag("logo.png", :width => 300) %>
		</div>
	</div>
	<div class="row main-content">
		<%= yield %>
	</div>

</body>
</html>
